//VARIABLES
$color-usabillablue: #00A5C9;
$color-lightblue: #eef3f7;
$color-darkblue: #59636c;
$color-white: #ffffff;
$color-grey1: #F9F9F9;
$color-grey2: #DFDFDF;
$color-grey3: #CFCFCF;
$color-grey4: #979797;
$color-grey5: #6B6B6B;
$color-grey6: #303030;