
//FONTS
@font-face{font-family:"MiloWeb-Text";src:url("./assets/fonts/MiloWeb-Text.woff") format("woff")}
@font-face{font-family:"MiloWeb-Medium";src:url("./assets/fonts/MiloWeb-Medium.woff") format("woff")}
@font-face{font-family:"MiloWeb-Light";src:url("./assets/fonts/MiloWeb-Light.woff") format("woff")}

//VARIABLES
$color-usabillablue: #00A5C9;
$color-lightblue: #eef3f7;
$color-darkblue: #59636c;
$color-white: #ffffff;
$color-grey1: #F9F9F9;
$color-grey2: #DFDFDF;
$color-grey3: #CFCFCF;
$color-grey4: #979797;
$color-grey5: #6B6B6B;
$color-grey6: #303030;

//BASE
body { 
	background-color: $color-lightblue;
	font-size: 16px;
	font-family: MiloWeb-Text, Helvetica, sans-serif;
	color: $color-grey5;
}

.ub-pagecontainer {
	width: 90%;
	margin: 0 auto;
}

//COMPONENTS
.ub-pageheader {
	background-color: $color-white;
	width: 100%;
	box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.2);
	text-align: center;
	padding: 20px 0;
}

.ub-pageheader--title {
	font-family: MiloWeb-Medium, Helvetica, sans-serif;
}

.ub-panel {
	background-color: $color-white;
	box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.2);
	border-radius: 5px;
	margin: 20px 0;
}

.ub-table {
	border-collapse: collapse;
	width: 100%;
}

.ub-table--head {
	background-color: $color-darkblue;
	color: $color-grey2;
	font-weight: normal;
}

.ub-table--title, td {
	padding: 20px;
    padding-bottom: 15px;
}

.ub-table--row {
	border-bottom: 1px solid $color-grey2;
}

.ub-rating {
	font-family: MiloWeb-Light, Helvetica, sans-serif;
	background-color: $color-usabillablue;
	border-radius: 50%;
	border: 2px solid $color-usabillablue;
	color: $color-white;
	text-align: center;
	width: 34px;
	height: 34px;
	line-height: 30px;
	font-size: 24px;
	display: inline-block;

	&:hover {
		cursor: pointer;
	}

	&+ .ub-rating {
		margin-left: 10px;
	}	
}

.ub-rating--inactive {
	background-color: transparent;
    border-color: $color-grey2;
    color: $color-grey2;
}

.ub-input {
	padding: 8px;
	border: 2px solid $color-grey2;
	border-radius: 5px;
}


